<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="js/jQuery.js"></script>
  <script src="js/client.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Bitchly</title>
</head>
<body>
  <div class="container">
    <h1>URL Shortener</h1>
    <form action="/addUrl" method="POST" class="my-4 form-inline">
      <label for="full" class="sr-only">Url</label>
      <input required placeholder="Enter Url" type="url" name="full" id="full" class="form-control col mr-2">
      <button class="btn btn-success col-xs" type="submit">Shrink</button>
    </form>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td><i class="fa fa-link" data-toggle="tooltip" data-placement="left" title="click to copy"></i>&nbsp;<a class="link" href="<%= shortUrl.short %>"><%= 'https://btichly.herokuapp.com/' + shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    </div>
</body>
</html>